{{ $codespaces := env "CODESPACES" | not | not -}}
{{ $name := "" -}}
{{ $personal_email := "" -}}
{{ $work_email := "" -}}
{{ $gpgkeyid := "" -}}

{{ if $codespaces -}}
  {{ $personal_email = "j@jclem.me" -}}
  {{ $work_email = "jclem@github.com" -}}
{{ else -}}
  {{ $personal_email = promptString "personal email" -}}
  {{ $work_email = promptString "work email" -}}
{{ end -}}

{{ if $codespaces -}}
  {{ $name = "Jonathan Clem" -}}
{{ else -}}
  {{ $name = promptString "name" -}}
{{ end -}}

{{ if not $codespaces -}}
  {{ $gpgkeyid = promptString "gpg key ID" -}}
{{ end -}}

[data]
  codespaces = {{ $codespaces }}

[data.user]
  name = {{ $name | quote }}
  personal_email = {{ $personal_email | quote }}
  work_email = {{ $work_email | quote }}

[data.gpg]
{{ if $gpgkeyid -}}
  keyid = {{ $gpgkeyid | quote }}
{{ else }}
  keyid = false
{{ end -}}