{{ $codespaces := env "CODESPACES" | not | not -}}
{{ $name := "" -}}
{{ $email := "" -}}
{{ $gpgkeyid := "" -}}

{{ if $codespaces -}}
  {{ $email = "j@jclem.me" -}}
{{ else -}}
  {{ $email = promptString "email" -}}
{{ end -}}

{{ if $codespaces -}}
  {{ $name = "Jonathan Clem" -}}
{{ else -}}
  {{ $name = promptString "name" -}}
{{ end -}}

{{ if not $codespaces -}}
  {{ $gpgkeyid = promptString "gpg key ID" -}}
{{ end -}}

[data]
  codespaces = {{ $codespaces }}

[data.user]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

[data.gpg]
{{ if $gpgkeyid -}}
  keyid = {{ $gpgkeyid | quote }}
{{ else }}
  keyid = false
{{ end -}}