#!/usr/bin/env -S bash -x

{{ if (eq .chezmoi.os "linux") }}
HOMEBREW_INSTALL_FROM_API=1
export HOMEBREW_INSTALL_FROM_API
{{ end }}

if test ! $(which brew); then
  printf '\e[33mHomebrew not found. \e[0mInstalling Homebrew...\n'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  {{ if (eq .chezmoi.os "linux") }}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  {{ else }}
  eval "$(/opt/homebrew/bin/brew shellenv)"
  {{ end }}
else
  printf 'Homebrew found. Continuing...\n'
fi

printf 'Installing Homebrew packages...\n'
{{ if (eq .chezmoi.os "darwin") }}
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"

brew "asdf"
brew "bat"
brew "coreutils"
brew "curl"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "glow"
brew "gpg2"
brew "graphviz"
brew "hivemind"
brew "htop"
brew "httpie"
brew "jq"
brew "overmind"
brew "pinentry-mac"
brew "ripgrep"
brew "sd"
brew "shellcheck"
brew "socat"
brew "svn"
brew "watchexec"
brew "wget"

cask "font-fira-code"
cask "font-source-code-pro"

cask "dash"
cask "iterm2-beta"
EOF
{{ else if (eq .chezmoi.os "linux") }}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fish"
brew "fzf"
brew "gh"
brew "httpie"
brew "jq"
brew "ripgrep"
brew "wget"
EOF
{{ end -}}
