#!/usr/bin/env -S bash -x

{{ if .codespaces -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
echo "$(which fish)" | sudo tee -a /etc/shells
sudo chsh -s $(which fish) $(whoami)
{{ end -}}

# We need to set /dev/null as the `fisher update` input or it attempts to read
# stdin forever.
$(which fish) -c 'curl -sL https://git.io/fisher | source && fisher update < /dev/null'