[alias]
	aa = add --all
	cm = commit
	co = checkout
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --
	pl = ! fish -c 'git pull origin (current_branch)'
	ps = push
	pb = push --set-upstream origin HEAD
	st = status
[bash]
	showDirtyState = true
	showInformativeStatus = true
	showUntrackedFiles = true
	showUpstream = auto
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[diff]
	external = difft
	mnemonicPrefix = true
	renames = copies
{{- if (eq .chezmoi.os "darwin") }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[include]
	path = ~/.gitconfig_local
[init]
	defaultBranch = main
[push]
	default = current
[remote]
	pushDefault = origin
[rerere]
	enabled = true
[user]
	name = {{ .user.name }}
	email = {{ .user.personal_email }}{{ if .gpg.keyid }}
	signingKey = {{ .gpg.keyid }}
	{{- end }}
[pull]
	ff = only
{{- if (eq .chezmoi.os "darwin") }}
[includeIf "gitdir:~/src/github.com/github/"]
	path = "~/.config/git/github.config"
{{ end }}